<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UiViewController-Transition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15E7E10D1D7F220900FE2960</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15E7E1211D7F220900FE2960</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15E7E12C1D7F220900FE2960</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
